[run]
branch = True
omit =
    tests/*
    */py2to3.py
    */interfaces.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
